.right {
    padding: 20px 40px;
}

.manage_inpatient {
    border: 1px solid black;
    overflow: scroll;
    height: 80vh;
}

.heading {
    background-color: rgb(23, 29, 215);

}
::-webkit-scrollbar {
    /* width: 3px; */
    /* background-color: rgb(104, 104, 104); */
    display: none;
}
.manage_inpatient h1 {
    color: white;
    line-height: 50px;
    margin-left: 20px;
}

.containt {
    width: 97%;
    padding-left: 40px;
}

/* ADD EMPLOYEE */

#add_inpatient {
    font-size: 14px;
    cursor: pointer;
    border: 0.2px solid rgb(192, 192, 192);
    border-radius: 5px;
    color: rgb(34, 38, 156);
    height: 40px;
    background-color: rgb(238, 238, 238);
}

#add_inpatient:hover {
    box-shadow: 0px 0px 2px rgb(124, 124, 124);
}

/* SEARCH CSS */    
#search_patient {
    float: right;
    font-size: 14px;
    display: flex;
}
#search{
    font-size: 16px;
    height: 27px;
    border: 1px solid rgb(167, 167, 167);
    border-right: none;
    outline: none;
}
#search_patient button{
    background-color: white;
    border: 1px solid rgb(167, 167, 167);
    padding: 5px 5px;
    cursor: pointer;
}


/* TABLE CSS */
#search_inpatient input[type=search] {
    background-color: black;
    height: 40px;
    border-radius: 3px;
    border: 1px solid rgb(200, 200, 200);
    background-color: rgb(238, 238, 238);
    width: 300px;
}

#inpatient {
    border-collapse: collapse;
    /* border:0px solid rgb(191, 191, 191); */
    width: 100%;
}

#inpatient tr {
    height: 60px;
}

#inpatient #table_head {
    /* text-align: center; */
    font-weight: 600;
    border-bottom: 1px solid rgb(189, 189, 189);
    border-top: 1px solid rgb(189, 189, 189);
}
#inpatient tr td span{
    color: rgb(255, 255, 255);
    padding: 4px 5px;
    border-radius: 5px;
    letter-spacing: 1px;
    font-weight: 700;
    background-color: rgb(7, 230, 7);
}

table#inpatient tr:nth-child(1){
    background-color:rgb(72, 77, 231) ;
    color: white;
    font-size: 14px;    
}
table#inpatient td:nth-child(6) {
    text-align: center;
    /* padding-right: 50px; */
}
table#inpatient td:nth-child(7) {
    text-align: center;
    /* padding-left: 25px; */
}
table#inpatient td:nth-child(9) {
    text-align: center;
    /* padding-left: 25px; */
}


table#inpatient td:nth-child(1) {
    text-align: center;
}



a {
    text-decoration: none;
    /* color: white; */
}

#inpatient tr td a:hover {
    font-size: 19px;
}

#inpatient tr:hover {
    border-bottom: 1px solid rgb(220, 220, 220);
    border-top: 1px solid rgb(220, 220, 220);
}

body {
    background-color: #f5f5f5;
    /* default light mode background color */
    color: #333;
    /* default light mode text color */
}

body.dark-mode {
    background-color: #333;
    /* dark mode background color */
    color: #f5f5f5;
    /* dark mode text color */
}

/* ADMIT PATIENT */
.admit_inpatient{
    background-color: white;
    position: fixed;
    top: 10%;
    left:20%;
    transform:scale(0%,0%);
    overflow: scroll;
    height: 600px;
    padding: 0 40px;
    margin: 0 auto;
    width: 60%;
    border-radius: 5px;
    transition: all 300ms ease;
    box-shadow: 0 0 10px rgb(83, 83, 83);
}
form{
    position: relative;
    margin: 0 auto;
}
.input{
    position: relative;
}
.input select{
    width: 20rem;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}
.textbox{
    font-size: 15px;
    width: 20rem;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    transition: all 200ms;
    /* cursor: not-allowed; */
}
form .formlabel{
    position: absolute;
    left: 5px;
    bottom: 0px;
    transition: all 200ms;
    /* transition:bottom 200ms ease-in,font-size 300ms ease-in; */
    pointer-events: none;
}
.textbox:focus ~ .formlabel,
.textbox:not(:placeholder-shown).textbox:not(:focus)~.formlabel {
    bottom: 25px;
    font-size: 10px;
    padding-left: 0;
    margin-left: -5px;
    /* color: red; */
}
#register_table{
    width: 100%;
}
#register_table tr td{
    height: 30px;
    /* width: 50%; */
}
#edit_patient{
    width: 100%;
}
#edit_patient tr td{
    height: 30px;
    /* width: 50%; */
}
form input[type=submit]{
    background-color: rgb(86, 86, 225);
    border: none;
    padding: 10px 16px;
    font-size: 15px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
form input[type=submit]:hover{
    box-shadow: 0px 0px 3px rgb(99, 99, 99);
    /* padding: 11 px 17px; */
}
form .btn{
    text-align: center;
}
#cancel-btn{
    float:right;
    /* position: sticky; */
    margin:15px -20px;
    right: -80px;
    top: 15px;
    font-size: 15px;
    transition: all 100ms;
}
#cancel-btn:hover{
    font-size: 20px;
}
.admit_inpatient h1{
    font-size: 20px;
    font-weight: 500;
    color:rgb(86, 86, 225) ;
    position: relative;
    top: 30px;
    /* text-align: center; */
    padding-left: 0px;
}
.edit_inpatient h1{
    font-size: 20px;
    font-weight: 500;
    color:rgb(86, 86, 225) ;
    position: relative;
    top: 30px;
    padding-left: 0px;
}
.admit_inpatient #register_table input[type=date]{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 6.6rem;
}
.admit_inpatient #register_table input[type=time]{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 4.3rem;
}

.edit_inpatient #edit_patient input[type=date]{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 6.6rem;
}
.edit_inpatient #edit_patient input[type=time]{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 4.3rem;
}

/* EDIT FORM */
#fname{
    width: 100px;
}
#mname{
    width: 105px;
}
#lname{
    width:105px;
}
#edit{
    background-color: white;
    position: fixed;
    top: 10%;
    left:20%;
    transform:scale(0%,0%);
    overflow-y: scroll;
    height: 600px;
    padding: 0 40px;
    margin: 0 auto;
    width: 60%;
    border-radius: 5px;
    transition: all 300ms ease;
    box-shadow: 0 0 10px rgb(83, 83, 83);
}
form input[type=button]{
    background-color: rgb(86, 86, 225);
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
form input[type=button]:hover{
    box-shadow: 0px 0px 3px rgb(99, 99, 99);    
}
@media print {
    .navbar,
        .sidebar {
            display: none;
        }
        .right{
            display: none;
        }
}